@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {

    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: bottom 0px right 500px, top 400px left 500px;
    background-size:cover;
    display: grid;
    place-items: center;
}
/*Style for the background*/
.backgroundTop {
    width: 500px;
    rotate: 0deg;
}

.backgroundBottom {
    width: 500px;
    rotate: 0deg;
}

/*Style for the card*/
.cardContainer {
    background-color: white;
    width: 350px;
    height: 370px;
    position: relative;
    border-radius: 8px;
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.009);;
}

/*Style for the card background*/
.CardBackground {
    border-radius: 8px 8px 0px 0px;
}

.personalInfo {
    display: flex;
    position: relative;
    left: 110px;
    top: -60px;
}

#name {
    font-weight: bold;
    color: rgb(58, 57, 70);
}

#age {
    color: hsl(227, 10%, 46%);
    margin-left: 10px;
}

.location {
    color: hsl(227, 10%, 46%);
    position: relative;
    left: 150px;
    top: -80px;
    font-size: 14px;
}

/*Style for the separation*/
hr {
    position: relative;
    top: -70px;
    height: 1px;
    border: none;
    background-color: rgba(199, 198, 198, 0.603);
}

/*Style for the account information*/
.information {
    display: flex;
    text-align: center;
    position: relative;
    top: -65px;
    left: 40px;
    line-height: 10px;
    gap: 60px;
}

.information h1 {
    font-size: 20px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(58, 57, 70);
}

.information p {
    font-size: 10px;
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}

/*Style for the user image*/
.imageUser {
    border-radius: 50%;
    position: relative;
    border: 5px solid white;
    position: relative;
    left: 120px;
    top: -55px;
}

/*Style for the footer*/
.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 220px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}